<div class="layout-menu-wrapper" [class.layout-menu-dark]="app.darkMenu" (click)=app.onMenuClick($event)>
  <div class="nano">
    <div class="nano-content sidebar-scroll-content" style="margin-right: -17px;">
      <div class="layout-menu-container">
        <app-submenu [item]="model" root="true" class="layout-menu" visible="true" [reset]="reset"></app-submenu>
      </div>
    </div>
  </div>
</div>
