<p-messages [value]="messagesPermanent" [closable]="false"></p-messages>

<p-growl [(value)]="messages" [sticky]="true"></p-growl>

<h2 *ngIf="!plan && messagesPermanent.length == 0" align="center" xmlns="">Loading data...</h2>

<div class="ui-g" *ngIf="plan">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1 style="margin: 0;">
        Plan hospitacji: <b>{{plan.documentNumber}}</b><br>
        Semestr: <b>{{semesterToString(plan.semester)}}</b>
      </h1>
      <div align="center">
        <button pButton (click)="save($event)" label="Zapisz" icon="fa-floppy-o" style="margin: 10px 0;"
                [disabled]="validatePlan()"></button>
      </div>
    </div>
  </div>
</div>

<div class="ui-g" *ngIf="plan && teachersItems">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g">

        <div class="ui-g-12 ui-g-nopad">
          <h1>Dodaj hospitacje do planu</h1>
        </div>

        <div class="ui-g-4 ui-sm-12">
          <label class="ui-g-12" for="teacher">Nauczyciel akademicki</label>
        </div>
        <div class="ui-g-4 ui-sm-10">
          <p-autoComplete id="teacher" [(ngModel)]="newTeacherItem" [suggestions]="filteredTeachersItems"
                          (onBlur)="updateTeacherCourses($event)" (keyup.enter)="updateTeacherCourses($event)"
                          (completeMethod)="searchTeacher($event)" field="label" autoHighlight="true"
                          emptyMessage="Brak wyników" [style]="{'width':'100%'}"
                          [inputStyle]="{'width':'100%'}"></p-autoComplete>
        </div>
        <div class="ui-g-1 ui-sm-2">
          <button pButton icon="fa-refresh" (click)="updateTeacherCourses($event)"></button>
        </div>
        <div class="ui-g-3 ui-sm-12">
          <p-message *ngIf="teacherCourseItems !== null && teacherCourseItems.length == 0" severity="error"
                     text="Nauczyciel nie prowadzi żadnych kursów"></p-message>
        </div>

        <div *ngIf="teacherCourseItems !== null && teacherCourseItems.length > 0" class="ui-g-4 ui-sm-12">
          <label class="ui-g-12" for="group">Grupa zajęciowa</label>
        </div>
        <div *ngIf="teacherCourseItems !== null && teacherCourseItems.length > 0" class="ui-g-4 ui-sm-12">
          <p-dropdown id="group" [options]="teacherCourseItems" [(ngModel)]="newCourseItem" placeholder="Wybierz kurs"
                      [style]="{'width':'100%'}"
                      (onChange)="updateCourseDates(newCourseItem, newTeacherItem.value)"></p-dropdown>
        </div>
        <div *ngIf="teacherCourseItems !== null && teacherCourseItems.length > 0" class="ui-g-4 ui-sm-12">
          <!--<p-message *ngIf="!newGroup" severity="info" text="Musisz grupę"></p-message>-->
        </div>

        <div *ngIf="newCourseItem" class="ui-g-4 ui-sm-12">
          <span class="ui-g-12">Możliwe terminy:</span>
        </div>
        <div *ngIf="newCourseItem" class="ui-g-8 ui-sm-12">
          <ol class="ui-g ia-ol-list">
            <li class="ui-g-4 ui-lg-4 ui-md-12 ui-sm-6 ui-g-nopad" *ngFor="let date of newCourseItem.availableDates">
              <p style="padding-right: 2.5em;">{{formatDate(date)}}</p>
            </li>
          </ol>
        </div>

        <div *ngIf="newCourseItem" class="ui-g-8 ui-sm-12">
          <p-autoComplete [(ngModel)]="newMemberItem" [suggestions]="filteredTeachersItems"
                          placeholder="Dodaj członka komisjii" (keyup.enter)="addMember(newCommittee, newMemberItem)"
                          (completeMethod)="searchTeacher($event, newCommittee.members.concat(newTeacherItem?.value))"
                          autoHighlight="true" emptyMessage="Brak wyników" field="label"></p-autoComplete>
          <button pButton icon="fa-plus" style="margin-left: 3px;"
                  (click)="addMember(newCommittee, newMemberItem)"></button>
        </div>
        <div *ngIf="newCourseItem && !newCommittee.chairman" class="ui-g-4 ui-sm-12" style="text-align: right;">
          <p-message severity="error" text="Komisja musi mieć przewodniczącego"></p-message>
        </div>

        <div *ngIf="newCourseItem" class="ui-g-12">
          <p-dataList [value]="newCommittee.members" emptyMessage="Dodaj nowych członków">
            <p-header>
              Nowa komisja hospitacyjna
            </p-header>
            <ng-template let-row pTemplate="item">
              <div class="ui-g">
                <div class="ui-g-9">
                  <p>{{academicTeacherToString(row)}}</p>
                </div>

                <div class="ui-g-3" style="text-align: right;">
                  <p-toggleButton *ngIf="academicTeacherCanBeChairman(row)" [ngModel]="newCommittee.chairman == row"
                                  onLabel=""
                                  offLabel="" onIcon="fa-users" pTooltip="Przewodniczący komisjii"
                                  offIcon="fa-user" (onChange)="setChairman(newCommittee, row)"></p-toggleButton>

                  <button pButton icon="fa-trash-o" style="margin: 6px 10px"
                          (click)="deleteMember(newCommittee, row)"></button>
                </div>
              </div>
            </ng-template>
          </p-dataList>
        </div>

        <div class="ui-g-12" align="center">
          <button pButton (click)="addAuditing()" label="Dodaj" icon="fa-plus"
                  [disabled]="!newTeacherItem || !newCourseItem || !newCommittee.chairman"></button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="ui-g" *ngIf="plan && teachersItems">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div #parentEdit class="ui-g">

        <div class="ui-g-6 ui-g-nopad">
          <h1>Hospitacje</h1>
        </div>

        <div class="ui-g-6 ui-g-nopad">
          <p align="right" *ngIf="plan.auditing">
            Liczba hospitacji: {{plan.auditing.length}}
          </p>
        </div>

        <p-dataTable (window:resize)="onResize($event)" [value]="plan.auditing" *ngIf="plan.auditing"
                     [scrollable]='true' [scrollWidth]="parentEdit.offsetWidth + 'px'">

          <p-column [style]="{'width':'150px'}" field="course.name" header="Nazwa kursu" [sortable]="true"></p-column>

          <p-column [style]="{'width':'75px'}" field="course.code" header="Kod kursu" [sortable]="true"></p-column>

          <p-column [style]="{'width':'150px'}" field="audited.surname" header="Hospitowany" [sortable]="true">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <span>{{academicTeacherToString(row.audited)}}</span>
            </ng-template>
          </p-column>

          <p-column [style]="{'width':'100px', 'padding':'0px'}" header="Możliwe terminy">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <div class="ui-g-12 fnn-separator" *ngFor="let date of row.course.availableDates">
                <span>{{formatDate(date)}}</span>
              </div>
            </ng-template>
          </p-column>

          <p-column [style]="{'width':'270px', 'padding':'0px'}" header="Zaakceptowany">
            <ng-template let-col let-row="rowData" let-i="indexData" pTemplate="body">

              <div class="ui-g-12 fnn-separator">
                <p-autoComplete [(ngModel)]="row.newMemberItem" [suggestions]="filteredTeachersItems"
                                autoHighlight="true"
                                placeholder="Dodaj członka komisjii" field="label" emptyMessage="Brak wyników"
                                (completeMethod)="searchTeacher($event, row.committee.members)"
                                (keyup.enter)="addMember(row.committee, row.newMemberItem, row)"></p-autoComplete>
                <button pButton icon="fa-plus" style="margin-left: 3px;"
                        (click)="addMember(row.committee, row.newMemberItem, row)"></button>
              </div>

              <div class="ui-g-12 fnn-separator" *ngFor="let m of row.committee.members">
                <div style="display: inline-block; padding: .4em;">
                  {{academicTeacherToString(m)}}
                </div>

                <div style="display: inline-block; float: right;" class="">
                  <p-toggleButton *ngIf="academicTeacherCanBeChairman(m)" [ngModel]="row.committee.chairman?.id == m.id"
                                  onLabel="" offLabel="" onIcon="fa-users" pTooltip="Przewodniczący komisjii"
                                  offIcon="fa-user" (onChange)="setChairman(row.committee, m)"></p-toggleButton>
                  <button pButton icon="fa-trash-o" style="margin-left: 3px;"
                          (click)="deleteMember(row.committee, m)"></button>
                </div>
              </div>

              <div *ngIf="!row.committee.chairman" class="ui-g-12 fnn-separator">
                <p-message severity="error" text="Komisja musi mieć przewodniczącego!"></p-message>
              </div>


            </ng-template>
          </p-column>

          <p-column [style]="{'width':'60px','text-align':'center'}" header="Usuń">
            <ng-template let-col let-i="rowIndex" pTemplate="body">
              <button pButton icon="fa-trash-o" (click)="deleteAuditing(i)"></button>
            </ng-template>
          </p-column>

          <ng-template pTemplate="emptymessage">
            <p align="center">Brak hospitacji</p>
          </ng-template>

        </p-dataTable>

        <div class="ui-g-12" *ngIf="!plan.auditing">
          <p align="center">Loading...</p>
        </div>

      </div>
    </div>
  </div>
</div>
