<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g">

        <div class="ui-g-6 ui-g-nopad">
          <h1>Filtruj</h1>
        </div>
        <div class="ui-g-6 ui-g-nopad">
          <button pButton (click)="resetFilter()" label="Reset filtra" icon="fa-repeat" style="float: right;"></button>
        </div>

        <div class="ui-g-6 ui-lg-2 ui-sm-12">
          <label class="ui-g-12">Numer dokumentu:</label>
        </div>
        <div class="ui-g-6 ui-lg-4 ui-sm-12">
          <input id="documentNumber" [(ngModel)]="filterOptions.documentNumber" (keyup)="filter()" class="ui-g-12"
                 pInputText placeholder="Numer dokumentu"/>
        </div>

        <div class="ui-g-6 ui-lg-2 ui-sm-12">
          <label class="ui-g-12">Semestr:</label>
        </div>
        <div class="ui-g-6 ui-lg-4 ui-sm-12">
          <p-dropdown id="semester" [(ngModel)]="filterOptions.semester" (onChange)="filter()" autoWidth="false"
                      [style]="{'width':'100%'}" [options]="semesters"></p-dropdown>
        </div>

      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div #parentBrowse class="ui-g">

        <div class="ui-g-6 ui-g-nopad">
          <h1>Przeglądaj plany hospitacji</h1>
        </div>
        <div class="ui-g-6 ui-g-nopad">
          <p align="right" *ngIf="filteredPlans">
            Liczba planów: {{filteredPlans.length}}
          </p>
        </div>
        <p-dataTable (window:resize)="onResize($event)" [value]="filteredPlans" *ngIf="filteredPlans" [paginator]="true"
                     [rows]="20" [rowsPerPageOptions]="[10,20,40,80]" [scrollable]='true'
                     [scrollWidth]="parentBrowse.offsetWidth + 'px'">

          <p-column [style]="{'width': '150px'}" field="documentNumber" header="Numer dokumentu" [sortable]="true">
            <ng-template let-row="rowData" pTemplate type="body">
              <a [routerLink]="['/','plan','details',row.id]">{{row.documentNumber}}</a>
            </ng-template>
          </p-column>


          <p-column [style]="{'width': '150px'}" field="status" header="Zaakceptowany" [sortable]="true">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <span>{{row.status == 'ACCEPTED' ? 'Zaakceptowany' : (row.status == 'REJECTED' ? 'Odrzucony' : 'Niezweryfikowany')}}</span>
            </ng-template>
          </p-column>

          <p-column [style]="{'width': '150px'}" field="semester.type" header="Semestr" [sortable]="true">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <span>{{semesterToString(row.semester)}}</span>
            </ng-template>
          </p-column>

          <p-column [style]="{'width': '75px'}" field="auditing.length" header="Liczba hospitacji"
                    [sortable]="true">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <span>{{row.auditing === null ? '0' : row.auditing.length}}</span>
            </ng-template>
          </p-column>

          <ng-template pTemplate="emptymessage">
            <p align="center">Brak planów hospitacji</p>
          </ng-template>

        </p-dataTable>
        <div class="ui-g-12" *ngIf="!filteredPlans">
          <p align="center">Loading...</p>
        </div>
      </div>
    </div>
  </div>
</div>
