<p-messages [value]="messagesPermanent" [closable]="false"></p-messages>

<h2 *ngIf="!plan && messagesPermanent.length == 0" align="center">Loading data...</h2>

<div class="ui-g" *ngIf="plan">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1 style="margin: 0;">
        Plan hospitacji: <b>{{plan.documentNumber}}</b><br>
        Semestr: <b>{{semesterToString(plan.semester)}}</b>
      </h1>
      <div align="center">
        <button pButton [routerLink]="['/','plan','edit',plan.id]" label="Edytuj" icon="fa-edit"
                style="margin: 10px 0;"></button>
      </div>
    </div>
  </div>
</div>
