$topbarLeftBgColor: #7e8dcd;
$topbarRightBgColor: #7e8dcd;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: #7e8dcd;
$primaryColor: #7e8dcd;
$primaryTextColor: #ffffff;
$accentColor: #3eb839;
$darkMenuBgColor: #393b3e;
$darkMenuTextColor: #f6f8f9;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
