$topbarLeftBgColor: #B85CC8;
$topbarRightBgColor: #B85CC8;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: #B85CC8;
$primaryColor: #B85CC8;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #393b3e;
$darkMenuTextColor: #f6f8f9;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
