$topbarLeftBgColor: #f28a8b;
$topbarRightBgColor: #f28a8b;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: #f28a8b;
$primaryColor: #f28a8b;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #393b3e;
$darkMenuTextColor: #f6f8f9;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
