$topbarLeftBgColor: #3984b8;
$topbarRightBgColor: #3984b8;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: #3984b8;
$primaryColor: #3984b8;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #393b3e;
$darkMenuTextColor: #f6f8f9;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
