$topbarLeftBgColor: #556270;
$topbarRightBgColor: #ff6b6b;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: transparent;
$primaryColor: #556270;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #23282e;
$darkMenuTextColor: #ffffff;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
