$topbarLeftBgColor: #5b5b5b;
$topbarRightBgColor: #5b5b5b;
$topbarLeftTextColor: #bdc3c9;
$topbarRightTextColor: #bdc3c9;
$topbarBorderBottomColor: #5b5b5b;
$primaryColor: #3984b8;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #353535;
$darkMenuTextColor: #bdc3c9;
$bodyBgColor: #f9fafb;

@import '../../sass/layout/_layout';
