$topbarLeftBgColor: #9ed729;
$topbarRightBgColor: #9ed729;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: #9ed729;
$primaryColor: #9ed729;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #393b3e;
$darkMenuTextColor: #f6f8f9;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
