$topbarLeftBgColor: #360033;
$topbarRightBgColor: #0b8793;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #ffffff;
$topbarBorderBottomColor: transparent;
$primaryColor: #360033;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #20001e;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
