$topbarLeftBgColor: #3d7eaa;
$topbarRightBgColor: #ffe47a;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #332d18;
$topbarBorderBottomColor: transparent;
$primaryColor: #3d7eaa;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #0c1922;
$darkMenuTextColor: #ffffff;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
