$topbarLeftBgColor: #003973;
$topbarRightBgColor: #e5e5be;
$topbarLeftTextColor: #ffffff;
$topbarRightTextColor: #003973;
$topbarBorderBottomColor: transparent;
$primaryColor: #003973;
$primaryTextColor: #ffffff;
$accentColor: #36ae2c;
$darkMenuBgColor: #00172e;
$bodyBgColor: #F2F8FA;

@import '../../sass/layout/_layout';
